.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.computerDiff {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.dropdown {
  cursor: pointer;
}

.Game-option {
  cursor: pointer;
  background-color: lightgray;
  font-size: medium;
  color: black;
  border: 5px solid;
  border-color: black;
  padding: 10px 10px;
  margin: 10px;
}

.gameSelection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.indvCPU {
  margin: 0% 5%;
}

.p1 {
  color: red;
}

.p2 {
  color: blue;
}

.selectedStone {
  background-color: lightgreen;
}

.selectedStone:hover {
  background-color: green;
}

.selection {
  cursor: pointer;
  background-color: lightgray;
  font-size: medium;
  color: black;
  border: 5px solid;
  border-color: black;
  padding: 10px 10px;
  margin: 20px;
}

.sizeSelector {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.stone {
  cursor: pointer;
  background-color: lightgray;
  color: black;
  border-radius: 50%;
  border: 5px solid;
  border-color: black;
  padding: 50px 50px;
  transition-duration: 0.4s;
}

.stone:hover {
  background-color: gray; /* Green */
}

.takenStone {
  background-color: black;
}

.takenStone:hover {
  background-color: black;
}

.winningStone {
  color: yellow;
  border: 10px solid;
  border-color: yellow;
}
