html {
  background-color: #282c34;
}

.App {
  text-align: center;
  color: white;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.basicStone {
  cursor: pointer;
  background-color: lightgray;
  color: black;
  border-radius: 50%;
  border: 5px solid;
  border-color: black;
  padding: 50px 50px;
  transition-duration: 0.4s;
}

.basicStone:hover {
  background-color: gray; /* Green */
}

.computerDiff {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.dropdown {
  cursor: pointer;
  background-color: transparent;
  color: white;
  border-radius: 5px;
  caret-color: white;
  border: 1px solid white;
  width: 290px;
  height: 30px;
  padding-left: 10px;
}

.gameplay{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.gameSelection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.indvCPU {
  margin: 0% 5%;
}

.p1 {
  color: red;
}

.p2 {
  color: blue;
}

.selectedStone {
  background-color: lightgreen;
}

.selectedStone:hover {
  background-color: green;
}

.selection {
  cursor: pointer;
  background-color: lightgray;
  font-size: medium;
  color: black;
  border: 5px solid;
  border-color: black;
  padding: 10px 10px;
  margin: 20px;
}

.simulation{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.sizeSelector {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.stats{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 2fr;
}

.takenStone {
  background-color: black;
}

.takenStone:hover {
  background-color: black;
}

.winningStone {
  color: yellow;
  border: 10px solid;
  border-color: yellow;
}

.checkboxInput {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid #ccc;
  border-radius: 0.25rem;
  transform: translate(50%, 40%);
  cursor: pointer;
}
 
 
.checkboxInput:checked {
  background-color: #BE123C;
  border-color: #BE123C;
}
 
 
.checkboxInput:checked::before {
  content: "\2713";
  display: block;
  width: 1rem;
  height: 1rem;
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: center;
  color: #fff;
  background-color: #BE123C;
  border-radius: 0.25rem;
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
}

.buttons {
  cursor: pointer;
  border-radius: 5px;
  background: #BE123C;
  border: none;
  width: 305px;
  height: 32px;
  margin: 20px 0px 0px 0px;
  transition: background 0.2s;
}
 
 
.buttons:hover {
  background: #FF3E63;
}
 
 
.buttons:active {
  background:#8A0B2A;
}
 
 
